Playbook/IP_Analysis_Incident_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_IP_Analysis_Incident_Playbook_name": {
            "defaultValue": "IP_Analysis_Incident_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_IP_Analysis_Incident_Playbook_externalid": {
            "defaultValue": "/subscriptions/b159314b-9126-417e-ba87-b6038bc19ce3/resourceGroups/MSSPProdMainSentinelRG/providers/Microsoft.Web/connections/azuresentinel-IP_Analysis_Incident_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_Phishing_Email_Analysis_Playbook_externalid": {
            "defaultValue": "/subscriptions/b159314b-9126-417e-ba87-b6038bc19ce3/resourceGroups/MSSPProdMainSentinelRG/providers/Microsoft.Web/connections/azuresentinel-Phishing_Email_Analysis_Playbook",
            "type": "String"
        },
        "connections_office365_externalid": {
            "defaultValue": "/subscriptions/b159314b-9126-417e-ba87-b6038bc19ce3/resourceGroups/MSSPProdMainSentinelRG/providers/Microsoft.Web/connections/office365",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_IP_Analysis_Incident_Playbook_name')]",
            "location": "canadacentral",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Alert_-_Get_incident": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceId'])}/alerts/@{encodeURIComponent(items('For_each')?['properties']?['systemAlertId'])}"
                                    }
                                },
                                "Entities_-_Get_IPs": {
                                    "runAfter": {
                                        "Alert_-_Get_incident": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                        "path": "/entities/ip"
                                    }
                                },
                                "For_each_1": {
                                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                    "actions": {
                                        "Open_Threat_Exchange": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://otx.alienvault.com/api/v1/indicators/IPv4/@{items('For_each_1')?['Address']}/general",
                                                "method": "GET",
                                                "headers": {
                                                    "X-OTX-API-KEY": "db8b082eeb4bfdbef272bceaab277ebbeb393e35884404e2ffcccc3508f67333"
                                                }
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "IPinfo": {
                                            "runAfter": {
                                                "Open_Threat_Exchange": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://ipinfo.io/@{item()?['Address']}?token=b003659697fa2e",
                                                "method": "GET"
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Compose_For_Comment_Version": {
                                            "runAfter": {
                                                "IPinfo": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@concat(\r\n'🚨 **OTX Analysis Result**:\n\n',\r\n'🌐 **IP Address**: ', body('Open_Threat_Exchange')?['indicator'], '\n',\r\n'📍 **Country**: ', body('Open_Threat_Exchange')?['country_name'], '\n',\r\n'🌎 **Region**: ', body('Open_Threat_Exchange')?['region'], '\n',\r\n'🏙️ **City**: ', body('Open_Threat_Exchange')?['city'], '\n',\r\n'🔢 **ASN**: ', body('Open_Threat_Exchange')?['asn'], '\n',\r\n'⭐ **Reputation Score**: ', string(body('Open_Threat_Exchange')?['reputation']), '\n',\r\n'🔍 **Whois Link**: ', body('Open_Threat_Exchange')?['whois'], '\n',\r\n'☁️ **Cloud Info**: ', body('Open_Threat_Exchange')?['validation']?[0]?['message'], '\n',\r\n'🔥 **Alert Triggered!** 🚨\n\n',\r\n\r\n'🚨 **IPinfo Analysis Result**:\n\n',\r\n'🌐 **IP Address**: ', body('IPinfo')?['ip'], '\n',\r\n'📍 **Country**: ', body('IPinfo')?['country'], '\n',\r\n'🌎 **Region**: ', body('IPinfo')?['region'], '\n',\r\n'🏙️ **City**: ', body('IPinfo')?['city'], '\n',\r\n'🗺️ **Location**: ', body('IPinfo')?['loc'], '\n',\r\n'🖥️ **Org**: ', body('IPinfo')?['org'], '\n',\r\n'📮 **Postal Code**: ', body('IPinfo')?['postal'], '\n',\r\n'⏰ **Timezone**: ', body('IPinfo')?['timezone'], '\n',\r\n'🔥 **Alert Triggered!** 🚨'\r\n)"
                                        },
                                        "Compose_For_Email_Version": {
                                            "runAfter": {
                                                "Compose_For_Comment_Version": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@concat(\r\n    '<p>🚨 <strong>OTX Analysis Result</strong>:</p>',\r\n    '<p>🌐 <strong>IP Address</strong>: ', body('Open_Threat_Exchange')?['indicator'], ' </p>',\r\n    '<p>📍 <strong>Country</strong>: ', body('Open_Threat_Exchange')?['country_name'], ' </p>',\r\n    '<p>🌎 <strong>Region</strong>: ', body('Open_Threat_Exchange')?['region'], ' </p>',\r\n    '<p>🏙️ <strong>City</strong>: ', body('Open_Threat_Exchange')?['city'], ' </p>',\r\n    '<p>🔢 <strong>ASN</strong>: ', body('Open_Threat_Exchange')?['asn'], ' </p>',\r\n    '<p>⭐ <strong>Reputation Score</strong>: ', string(body('Open_Threat_Exchange')?['reputation']), ' </p>',\r\n    '<p>🔍 <strong>Whois Link</strong>: <a href=\"', body('Open_Threat_Exchange')?['whois'], '\">', body('Open_Threat_Exchange')?['whois'], '</a> </p>',\r\n    '<p>☁️ <strong>Cloud Info</strong>: ', body('Open_Threat_Exchange')?['validation']?[0]?['message'], ' </p>',\r\n    '<p>🔥 <strong>Alert Triggered!</strong> 🚨</p>',\r\n    \r\n    '<p><hr style=\"border: 1px solid #ddd; margin: 20px 0;\"></p>',\r\n    \r\n    '<p>🚨 <strong>IPinfo Analysis Result</strong>:</p>',\r\n    '<p>🌐 <strong>IP Address</strong>: ', body('IPinfo')?['ip'], ' </p>',\r\n    '<p>📍 <strong>Country</strong>: ', body('IPinfo')?['country'], ' </p>',\r\n    '<p>🌎 <strong>Region</strong>: ', body('IPinfo')?['region'], ' </p>',\r\n    '<p>🏙️ <strong>City</strong>: ', body('IPinfo')?['city'], ' </p>',\r\n    '<p>🗺️ <strong>Location</strong>: ', body('IPinfo')?['loc'], ' </p>',\r\n    '<p>🖥️ <strong>Org</strong>: ', body('IPinfo')?['org'], ' </p>',\r\n    '<p>📮 <strong>Postal Code</strong>: ', body('IPinfo')?['postal'], ' </p>',\r\n    '<p>⏰ <strong>Timezone</strong>: ', body('IPinfo')?['timezone'], ' </p>',\r\n    '<p>🔥 <strong>Alert Triggered!</strong> 🚨</p>'\r\n)"
                                        },
                                        "Add_comment_to_incident_(V3)": {
                                            "runAfter": {
                                                "Compose_For_Email_Version": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                    "message": "<p class=\"editor-paragraph\">@{outputs('Compose_For_Comment_Version')}</p>"
                                                },
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Send_an_email_(V2)": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "Issam.Abdelli@intellisecsolutions.ca",
                                                    "Subject": "🔍 IP Analysis Result",
                                                    "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_For_Email_Version')}</p>",
                                                    "Importance": "Normal"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Entities_-_Get_IPs": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/b159314b-9126-417e-ba87-b6038bc19ce3/providers/Microsoft.Web/locations/canadacentral/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_IP_Analysis_Incident_Playbook_externalid')]",
                                "connectionName": "[concat('azuresentinel-', parameters('workflows_IP_Analysis_Incident_Playbook_name'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuresentinel-1": {
                                "id": "/subscriptions/b159314b-9126-417e-ba87-b6038bc19ce3/providers/Microsoft.Web/locations/canadacentral/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_Phishing_Email_Analysis_Playbook_externalid')]",
                                "connectionName": "azuresentinel-Phishing_Email_Analysis_Playbook",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "office365": {
                                "id": "/subscriptions/b159314b-9126-417e-ba87-b6038bc19ce3/providers/Microsoft.Web/locations/canadacentral/managedApis/office365",
                                "connectionId": "[parameters('connections_office365_externalid')]",
                                "connectionName": "office365",
                                "connectionProperties": {}
                            }
                        }
                    }
                }
            }
        }
    ]
}
