Playbook/IP_Analysis_Incident_Playbook.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_IP_Analysis_Incident_Playbook_name": {
            "defaultValue": "IP_Analysis_Incident_Playbook",
            "type": "String"
        },
        "connections_azuresentinel_4_externalid": {
            "defaultValue": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/resourceGroups/IntellisecMSSP/providers/Microsoft.Web/connections/azuresentinel-4",
            "type": "String"
        },
        "connections_virustotal_externalid": {
            "defaultValue": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/resourceGroups/IntellisecMSSP/providers/Microsoft.Web/connections/virustotal",
            "type": "String"
        },
        "connections_office365_2_externalid": {
            "defaultValue": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/resourceGroups/IntellisecMSSP/providers/Microsoft.Web/connections/office365-2",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_IP_Analysis_Incident_Playbook_name')]",
            "location": "francecentral",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Alert_-_Get_incident": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceId'])}/alerts/@{encodeURIComponent(items('For_each')?['properties']?['systemAlertId'])}"
                                    }
                                },
                                "Entities_-_Get_IPs": {
                                    "runAfter": {
                                        "Alert_-_Get_incident": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                        "path": "/entities/ip"
                                    }
                                },
                                "For_each_1": {
                                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                    "actions": {
                                        "Get_an_IP_report": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['virustotal']['connectionId']"
                                                    }
                                                },
                                                "method": "get",
                                                "path": "/api/v3/ip_addresses/connectorV2/@{encodeURIComponent(item()?['Address'])}"
                                            }
                                        },
                                        "Add_comment_to_incident_(V3)": {
                                            "runAfter": {
                                                "MessageBody": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                    "message": "<p class=\"editor-paragraph\">***VirusTotal Analysis Result***</p><br><p class=\"editor-paragraph\">Owner : @{body('Get_an_IP_report')?['data']?['attributes']?['as_owner']}</p><p class=\"editor-paragraph\">Country : @{body('Get_an_IP_report')?['data']?['attributes']?['country']}</p><p class=\"editor-paragraph\">Last analysis statistics Malicious : @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}</p><p class=\"editor-paragraph\">Last analysis statistics Suspicious : @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}</p><br><p class=\"editor-paragraph\">***IPinfo Analysis Result***</p><p class=\"editor-paragraph\"><br>@{body('Analyse_With_IPinfo')}</p>"
                                                },
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Send_an_email_(V2)": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "Issam.Abdelli@intellisecsolutions.com",
                                                    "Subject": "New Incident assigned",
                                                    "Body": "<p class=\"editor-paragraph\">New Incident assigned!</p><br><p class=\"editor-paragraph\">Title : @{triggerBody()?['object']?['properties']?['title']}</p><p class=\"editor-paragraph\">Severity : @{body('Alert_-_Get_incident')?['properties']?['severity']}</p><p class=\"editor-paragraph\">Description : @{triggerBody()?['object']?['properties']?['description']}</p><p class=\"editor-paragraph\">Incident URL : @{body('Alert_-_Get_incident')?['properties']?['incidentUrl']}<br><br>***VirusTotal Analysis***</p><p class=\"editor-paragraph\">Last analysis statistics Malicious : @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['malicious']}<br>Last analysis statistics Suspicious : @{body('Get_an_IP_report')?['data']?['attributes']?['last_analysis_stats']?['suspicious']}</p><br><p class=\"editor-paragraph\">***IPinfo Analysis Result***</p><p class=\"editor-paragraph\">@{body('Analyse_With_IPinfo')}</p><br>",
                                                    "Importance": "High"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        },
                                        "Analyse_With_IPinfo": {
                                            "runAfter": {
                                                "Get_an_IP_report": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://ipinfo.io/@{item()?['Address']}?token=901aa00af97857",
                                                "method": "GET"
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Parse_JSON": {
                                            "runAfter": {
                                                "Analyse_With_IPinfo": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Analyse_With_IPinfo')",
                                                "schema": {
                                                    "type": "object",
                                                    "properties": {
                                                        "ip": {
                                                            "type": "string"
                                                        },
                                                        "city": {
                                                            "type": "string"
                                                        },
                                                        "region": {
                                                            "type": "string"
                                                        },
                                                        "country": {
                                                            "type": "string"
                                                        },
                                                        "loc": {
                                                            "type": "string"
                                                        },
                                                        "org": {
                                                            "type": "string"
                                                        },
                                                        "postal": {
                                                            "type": "string"
                                                        },
                                                        "timezone": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "MessageBody": {
                                            "runAfter": {
                                                "Parse_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "IPInfo Report:\n\nCountry: @{body('Parse_JSON')?['country']}\n"
                                        }
                                    },
                                    "runAfter": {
                                        "Entities_-_Get_IPs": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel-1": {
                                "id": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/providers/Microsoft.Web/locations/francecentral/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_4_externalid')]",
                                "connectionName": "azuresentinel-4"
                            },
                            "virustotal": {
                                "id": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/providers/Microsoft.Web/locations/francecentral/managedApis/virustotal",
                                "connectionId": "[parameters('connections_virustotal_externalid')]",
                                "connectionName": "virustotal"
                            },
                            "office365-1": {
                                "id": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/providers/Microsoft.Web/locations/francecentral/managedApis/office365",
                                "connectionId": "[parameters('connections_office365_2_externalid')]",
                                "connectionName": "office365-2"
                            }
                        }
                    }
                }
            }
        }
    ]
}
