Playbooks/Playbook_Test_IP_Analysis.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Test_IP_Analysis_name": {
            "defaultValue": "Test_IP_Analysis",
            "type": "String"
        },
        "connections_azuresentinel_5_externalid": {
            "defaultValue": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/resourceGroups/IntellisecMSSP/providers/Microsoft.Web/connections/azuresentinel-5",
            "type": "String"
        },
        "connections_office365_2_externalid": {
            "defaultValue": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/resourceGroups/IntellisecMSSP/providers/Microsoft.Web/connections/office365-2",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Test_IP_Analysis_name')]",
            "location": "francecentral",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@listCallbackUrl()"
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "For_each": {
                            "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                            "actions": {
                                "Alert_-_Get_incident": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['SubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['workspaceInfo']?['ResourceGroupName'])}/workspaces/@{encodeURIComponent(triggerBody()?['workspaceId'])}/alerts/@{encodeURIComponent(items('For_each')?['properties']?['systemAlertId'])}"
                                    }
                                },
                                "Entities_-_Get_IPs": {
                                    "runAfter": {
                                        "Alert_-_Get_incident": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                        "path": "/entities/ip"
                                    }
                                },
                                "For_each_1": {
                                    "foreach": "@body('Entities_-_Get_IPs')?['IPs']",
                                    "actions": {
                                        "Analyse_With_IPinfo": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "https://ipinfo.io/@{items('For_each_1')?['Address']}?token=901aa00af97857",
                                                "method": "GET"
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        },
                                        "Add_comment_to_incident_(V3)": {
                                            "runAfter": {
                                                "Compose_": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel-1']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "incidentArmId": "@body('Alert_-_Get_incident')?['id']",
                                                    "message": "<p class=\"editor-paragraph\">@{outputs('Compose_')}</p>"
                                                },
                                                "path": "/Incidents/Comment"
                                            }
                                        },
                                        "Send_an_email_(V2)": {
                                            "runAfter": {
                                                "Add_comment_to_incident_(V3)": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "Issam.Abdelli@intellisecsolutions.com",
                                                    "Subject": "New Incident assigned",
                                                    "Body": "<p class=\"editor-paragraph\">@{outputs('Compose_')}</p>",
                                                    "Importance": "Normal"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        },
                                        "Compose_": {
                                            "runAfter": {
                                                "Analyse_With_IPinfo": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Compose",
                                            "inputs": "@concat(\r\n'🚨 **IPinfo Analysis Result**:\n\n',\r\n'🌐 **IP Address**: ', body('Analyse_With_IPinfo')?['ip'], '\n',\r\n'📍 **Country**: ', body('Analyse_With_IPinfo')?['country'], '\n',\r\n'🌎 **Region**: ', body('Analyse_With_IPinfo')?['region'], '\n',\r\n'🏙️ **City**: ', body('Analyse_With_IPinfo')?['city'], '\n',\r\n'🗺️ **Location**: ', body('Analyse_With_IPinfo')?['loc'], '\n',\r\n'🖥️ **Org**: ', body('Analyse_With_IPinfo')?['org'], '\n',\r\n'📮 **Postal Code**: ', body('Analyse_With_IPinfo')?['postal'], '\n',\r\n'⏰ **Timezone**: ', body('Analyse_With_IPinfo')?['timezone'], '\n'\r\n)"
                                        }
                                    },
                                    "runAfter": {
                                        "Entities_-_Get_IPs": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                }
                            },
                            "runAfter": {},
                            "type": "Foreach"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel-1": {
                                "id": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/providers/Microsoft.Web/locations/francecentral/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_5_externalid')]",
                                "connectionName": "azuresentinel-5"
                            },
                            "office365": {
                                "id": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/providers/Microsoft.Web/locations/francecentral/managedApis/office365",
                                "connectionId": "[parameters('connections_office365_2_externalid')]",
                                "connectionName": "office365-2"
                            }
                        }
                    }
                }
            }
        }
    ]
}
