Playbooks/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Email_Validation_Playbook_Test_name": {
            "defaultValue": "Email_Validation_Playbook_Test",
            "type": "String"
        },
        "connections_azuresentinel_4_externalid": {
            "defaultValue": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/resourceGroups/IntellisecMSSP/providers/Microsoft.Web/connections/azuresentinel-4",
            "type": "String"
        },
        "connections_office365_2_externalid": {
            "defaultValue": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/resourceGroups/IntellisecMSSP/providers/Microsoft.Web/connections/office365-2",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Email_Validation_Playbook_Test_name')]",
            "location": "francecentral",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "path": "/incident-creation"
                            },
                            "description": ""
                        }
                    },
                    "actions": {
                        "Get_Entities": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Entities",
                                        "type": "array",
                                        "value": "@triggerBody()?['object']?['properties']?['relatedEntities']"
                                    }
                                ]
                            }
                        },
                        "Filter_array_Entities": {
                            "runAfter": {
                                "Get_Alerts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@variables('Entities')",
                                "where": "@equals(item()?['kind'], 'MailMessage')"
                            }
                        },
                        "Parse_JSON_Entities": {
                            "runAfter": {
                                "Filter_array_Alerts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Filter_array_Entities')",
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "fileEntityIds": {
                                                        "type": "array",
                                                        "items": {}
                                                    },
                                                    "recipient": {
                                                        "type": "string"
                                                    },
                                                    "urls": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "p1Sender": {
                                                        "type": "string"
                                                    },
                                                    "p1SenderDomain": {
                                                        "type": "string"
                                                    },
                                                    "senderIP": {
                                                        "type": "string"
                                                    },
                                                    "p2Sender": {
                                                        "type": "string"
                                                    },
                                                    "p2SenderDisplayName": {
                                                        "type": "string"
                                                    },
                                                    "p2SenderDomain": {
                                                        "type": "string"
                                                    },
                                                    "receiveDate": {
                                                        "type": "string"
                                                    },
                                                    "networkMessageId": {
                                                        "type": "string"
                                                    },
                                                    "internetMessageId": {
                                                        "type": "string"
                                                    },
                                                    "subject": {
                                                        "type": "string"
                                                    },
                                                    "antispamDirection": {
                                                        "type": "string"
                                                    },
                                                    "deliveryAction": {
                                                        "type": "string"
                                                    },
                                                    "language": {
                                                        "type": "string"
                                                    },
                                                    "friendlyName": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "name",
                                            "type",
                                            "kind",
                                            "properties"
                                        ]
                                    }
                                }
                            }
                        },
                        "For_each": {
                            "foreach": "@outputs('Parse_JSON_Entities')['body']",
                            "actions": {
                                "Send_approval_email": {
                                    "type": "ApiConnectionWebhook",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "body": {
                                            "NotificationUrl": "@listCallbackUrl()",
                                            "Message": {
                                                "To": "@{item()?['properties']?['recipient']} ",
                                                "Body": "@{outputs('Compose')}",
                                                "Importance": "Normal",
                                                "HideHTMLMessage": false,
                                                "ShowHTMLConfirmationDialog": false,
                                                "Subject": "⚠️ Urgent: Verify If You Entered Credentials on Suspicious Page",
                                                "Options": "YES, NO"
                                            }
                                        },
                                        "path": "/approvalmail/$subscriptions"
                                    }
                                },
                                "Condition": {
                                    "actions": {
                                        "Send_an_email_(V2)": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "Issam.Abdelli@intellisecsolutions.com",
                                                    "Subject": "⚠️ Confirmed: Credentials Were Entered on Suspicious Page",
                                                    "Body": "<p class=\"editor-paragraph\">@{concat(\r\n  '<p>Dear Security Analyst,</p>',\r\n  '<p>⚠️ A user has responded <strong>NO</strong> to the security confirmation, indicating they entered their credentials on a suspicious page.</p>',\r\n  '<p><strong>🔍 Incident Summary:</strong><br>',\r\n  '- 👤 <strong>Recipient:</strong> ', coalesce(outputs('Parse_JSON_Entities')?['body']?[0]?['properties']?['recipient'], 'N/A'), '<br>',\r\n  '- 🚨 <strong>Alert Name:</strong> ', coalesce(outputs('Parse_JSON_Alerts')?['body']?[0]?['properties']?['alertDisplayName'], 'N/A'), '<br>',\r\n '- 📃 <strong>Description:</strong> ', coalesce(outputs('Parse_JSON_Alerts')?['body']?[0]?['properties']?['description'], 'N/A'), '<br>',\r\n  '- 🕒 <strong>Detected At:</strong> ', coalesce(formatDateTime(outputs('Parse_JSON_Alerts')?['body']?[0]?['properties']?['timeGenerated'], 'yyyy-MM-dd HH:mm:ss'), 'N/A'), '<br>',\r\n  '</p>',\r\n  '<p>📌 Please prioritize this incident for investigation and apply remediation actions as necessary.</p>',\r\n  '<p>Best regards,<br>🛡️ <strong>Security Operations Center Team</strong><br>⚜️ <strong>Logibec</strong></p>'\r\n)}</p>",
                                                    "Importance": "High"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        },
                                        "Update_incident_": {
                                            "runAfter": {
                                                "Send_an_email_(V2)": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "body": {
                                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                                    "severity": "High",
                                                    "status": "Active"
                                                },
                                                "path": "/Incidents"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Send_approval_email": [
                                            "Succeeded"
                                        ]
                                    },
                                    "else": {
                                        "actions": {
                                            "Update_incident_1": {
                                                "type": "ApiConnection",
                                                "inputs": {
                                                    "host": {
                                                        "connection": {
                                                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                        }
                                                    },
                                                    "method": "put",
                                                    "body": {
                                                        "incidentArmId": "@triggerBody()?['object']?['id']",
                                                        "severity": "Low",
                                                        "status": "Closed",
                                                        "classification": {
                                                            "ClassificationAndReason": "BenignPositive - SuspiciousButExpected"
                                                        }
                                                    },
                                                    "path": "/Incidents"
                                                }
                                            }
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@body('Send_approval_email')?['SelectedOption']",
                                                    "YES"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Compose": {
                            "runAfter": {
                                "Parse_JSON_Alerts": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@concat(\r\n    'Hello ', coalesce(outputs('Parse_JSON_Entities')?['body']?[0]?['properties']?['recipient'], 'N/A'), ',\n\n',\r\n    'We have detected an alert on your account that may be related to a potential security incident.\n\n',\r\n    '**Incident Details:**\n',\r\n    '- **Alert Name:** ', coalesce(outputs('Parse_JSON_Alerts')?['body']?[0]?['properties']?['alertDisplayName'], 'N/A'), '\n',\r\n    '- **Description:** ', coalesce(outputs('Parse_JSON_Alerts')?['body']?[0]?['properties']?['description'], 'N/A'), '\n',\r\n    '- **Detected At:** ', coalesce(formatDateTime(outputs('Parse_JSON_Alerts')?['body']?[0]?['properties']?['timeGenerated'], 'yyyy-MM-dd HH:mm:ss'), 'N/A'), '\n',\r\n    '- **Tactics:** ', coalesce(outputs('Parse_JSON_Alerts')?['body']?[0]?['properties']?['tactics'], 'N/A'), '\n\n',\r\n    'Please confirm the following:\n\n',\r\n    '**Did you enter your credentials on the suspicious page listed above ?**\n\n',\r\n    '- ✅ **YES** \n',\r\n    '- ❌ **NO** \n\n',\r\n    'Thanks, your response will help us take the appropriate actions to protect your account and our environment.\n\n',\r\n    'Best regards,\n\n',\r\n    'Security Operations Center Team \n\n',\r\n    'Logibec'\r\n)"
                        },
                        "Get_Alerts": {
                            "runAfter": {
                                "Get_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Alert",
                                        "type": "array",
                                        "value": "@triggerBody()?['object']?['properties']?['Alerts']"
                                    }
                                ]
                            }
                        },
                        "Filter_array_Alerts": {
                            "runAfter": {
                                "Filter_array_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@variables('Alert')",
                                "where": "@equals(item()['kind'], 'SecurityAlert')"
                            }
                        },
                        "Parse_JSON_Alerts": {
                            "runAfter": {
                                "Parse_JSON_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Filter_array_Alerts')",
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "type": {
                                                "type": "string"
                                            },
                                            "kind": {
                                                "type": "string"
                                            },
                                            "properties": {
                                                "type": "object",
                                                "properties": {
                                                    "systemAlertId": {
                                                        "type": "string"
                                                    },
                                                    "tactics": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "alertDisplayName": {
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "confidenceLevel": {
                                                        "type": "string"
                                                    },
                                                    "severity": {
                                                        "type": "string"
                                                    },
                                                    "vendorName": {
                                                        "type": "string"
                                                    },
                                                    "productName": {
                                                        "type": "string"
                                                    },
                                                    "alertType": {
                                                        "type": "string"
                                                    },
                                                    "processingEndTime": {
                                                        "type": "string"
                                                    },
                                                    "status": {
                                                        "type": "string"
                                                    },
                                                    "endTimeUtc": {
                                                        "type": "string"
                                                    },
                                                    "startTimeUtc": {
                                                        "type": "string"
                                                    },
                                                    "timeGenerated": {
                                                        "type": "string"
                                                    },
                                                    "providerAlertId": {
                                                        "type": "string"
                                                    },
                                                    "alertLink": {
                                                        "type": "string"
                                                    },
                                                    "resourceIdentifiers": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "workspaceId": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "type",
                                                                "workspaceId"
                                                            ]
                                                        }
                                                    },
                                                    "additionalData": {
                                                        "type": "object",
                                                        "properties": {
                                                            "IncidentId": {
                                                                "type": "string"
                                                            },
                                                            "OriginSource": {
                                                                "type": "string"
                                                            },
                                                            "Category": {
                                                                "type": "string"
                                                            },
                                                            "DetectionSource": {
                                                                "type": "string"
                                                            },
                                                            "DetectorId": {
                                                                "type": "string"
                                                            },
                                                            "LastUpdated": {
                                                                "type": "string"
                                                            },
                                                            "ProcessedBySentinel": {
                                                                "type": "string"
                                                            },
                                                            "Alert generation status": {
                                                                "type": "string"
                                                            },
                                                            "MitreTechniques": {
                                                                "type": "string"
                                                            },
                                                            "InvestigationName": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "friendlyName": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        },
                                        "required": [
                                            "id",
                                            "name",
                                            "type",
                                            "kind",
                                            "properties"
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "id": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/providers/Microsoft.Web/locations/francecentral/managedApis/azuresentinel",
                                "connectionId": "[parameters('connections_azuresentinel_4_externalid')]",
                                "connectionName": "azuresentinel-4"
                            },
                            "office365": {
                                "id": "/subscriptions/9ec51404-df8b-4912-90a1-a7aebed5cd80/providers/Microsoft.Web/locations/francecentral/managedApis/office365",
                                "connectionId": "[parameters('connections_office365_2_externalid')]",
                                "connectionName": "office365-2"
                            }
                        }
                    }
                }
            }
        }
    ]
}